******** Welcome to the longest word-game !********<br>
Here is your grid : <%= @grid.join(" ") %> <br>
***************************************************** <br>
What's your best shot ?<br>
<form action="/score">
<input type="text" name="query">
<input type="submit">
</form>

<!--
<%= %>
<%= %>
<%= %>
<%= %>
 -->
